[aps]
# ap1.example.com
# ap2.example.com
# ap3.example.com

[routers]
openwrt ansible_user=root

[openwrt:children]
aps
routers

[openwrt:vars]
ansible_remote_tmp=/tmp/ansible  # Reduce flash wear on target device
